
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body{
	min-height:1600px;
	background:#000;
}

/*header*/

header {
	font-family: 'Macondo', cursive;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo{
	font-size:2em;
	color: #D4AF37;
	user-select: none;
}

.navb{
	padding-bottom: 40px;
}

.navb a {
	position: sticky;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	margin-left: 20px;
	padding: 6px 15px;
	transition: .5s;
}

.navb a:hover {
	color: #333;
}

.navb a span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	border-radius: 30px;
	z-index: -1;
	transform: scale(0);
	transition: .5s;
	opacity: 0;
}

.navb a:hover span {
	transform: scale(1);
	opacity: 1;
}

#home{
	font-family: 'Lilita One', cursive;
	position: sticky;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

#home:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1400px;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%, #000 100%);
	z-index: 100000;
}

#home img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#front{
	z-index: 10;
}

#text{
	position: relative;
	color: white;
	z-index: 2;
	font-size: 95px;
	text-align: center;
	margin-top: -300px;
	padding-top: 100px;
	padding-right: 100px;
	padding-left: 100px;
	text-transform: uppercase;
	letter-spacing: 12px;
}

/*Glossary*/

.content{
	padding: 70px 20%;
}

.content a{
	color: #F1F7EE;
	font-size: 15px;
	line-height: 28px;
	text-decoration: none;
}

.heading {
	text-align: center;
}

.heading h2 {
	font-family: 'Macondo', cursive;
	font-size: 40px;
	color: #F1F7EE;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
}

.heading p {
	font-family: 'Poltawski Nowy', serif;
	color: #B0BEA9;
	font-size: 15px;
	line-height: 28px;	 
}

.container {
	font-family: 'Bangers', cursive;
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Update to create three columns */
	grid-gap: 1.7rem;
	align-items: center;
	margin-top: 5rem;
	justify-content: center;
	color: #F1F7EE;
}

.container-2 {
	font-family: 'Bangers', cursive;
	display: flex;
	grid-gap: 6.5rem;
	align-items: center;
	margin-top: 5rem;
	justify-content: center;
	color: #F1F7EE;
}

.box {
	height: 375px;
	width: 300px;
	border-radius: 10px;
	overflow: hidden;
	background: #E0EDC5;
	transition: all 0.8s;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.no1 {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7) 75%, #000 100%), url(images/no1.jpg) center center no-repeat;
	background-size: cover;
}

.no1:hover{
	transform: translateY(20px);
	transition: all 0.5s ease;
	opacity: 0.6;
}

.no2 {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7) 75%, #000 100%), url(images/no2.jpg) center center no-repeat;
	background-size: cover;
}

.no2:hover{
	transform: translateY(20px);
	transition: all 0.5s ease;
	opacity: 0.6;
}

.no3 {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7) 75%, #000 100%), url(images/no3.jpg) center center no-repeat;
	background-size: cover;
}

.no3:hover{
	transform: translateY(20px);
	transition: all 0.5s ease;
	opacity: 0.6;
}

.no4 {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7) 75%, #000 100%), url(images/no4.jpg) center center no-repeat;
	background-size: cover;
}

.no4:hover{
	transform: translateY(20px);
	transition: all 0.5s ease;
	opacity: 0.6;
}

.no5 {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7) 75%, #000 100%), url(images/no5.jpg) center center no-repeat;
	background-size: cover;
}

.no5:hover{
	transform: translateY(20px);
	transition: all 0.5s ease;
	opacity: 0.6;
}

/*section-1*/

#sec-1 {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #122B28;
}

.sec-1-text {
	font-family: 'Cinzel', serif;
	font-size: 50px;
	color: black;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin-top: 30px;
	text-align: center;
}

.s1p{
	margin-top: 100px;
}

.s1p h2 {
	font-size: 35px;
	color: #F1F7EE;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin-top: 40px;
}

#sec-1 p {
	color: #F1F7EE;
	font-size: 25px;
	line-height: 28px;	 
	margin-left:50px;
	margin-right:50px;
}

.s1p-1, .s1p-2, .s1p-3, .s1p-4, .s1p-5 {
	text-align: center;
	margin-left:175px;
	margin-right:175px;
	margin-top:50px;
}

.s1p-1, .s1p-2, .s1p-3, .s1p-4, .s1p-5, p{
	text-align: justify;
}

/*section-2*/

.sec-2-text {
	font-family: 'Cinzel', serif;
	font-size: 50px;
	color: black;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin-top: 30px;
	text-align: center;
}


.s2p h1 {
	font-size: 35px;
	color: #F1F7EE;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin-top: 40px;
}

.s2p h2 {
	font-size: 35px;
	color: #F1F7EE;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin-top: 40px;
}

#sec-2 p {
	color: #F4F0EC;
	font-size: 25px;
	line-height: 28px;	
	margin-left:50px;
	margin-right:50px;
}

.s2p-1, .s2p-2, .s2p-3, .s2p-4, .s2p-5 {
	text-align: center;
	margin-left:175px;
	margin-right:175px;
	margin-top:50px;
}

.s2p-1, .s2p-2, .s2p-3, .s2p-4, .s2p-5 {
	text-align:justify;
}

#sec-2 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #256050;
}

/*section-3*/

.sec-3-text {
	font-family: 'Cinzel', serif;
	font-size: 50px;
	color: black;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin-top: 30px;
	text-align: center;
}

.s3p h2 {
	font-size: 35px;
	color: #F1F7EE;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin-top: 30px;
}

#sec-3 p {
	color: #F4F0EC;
	font-size: 25px;
	line-height: 28px;	 
	margin-left:50px;
	margin-right:50px;
}

.s3p-1, .s3p-2, .s3p-3, .s3p-4, .s3p-5, .s3p-6, .s3p-7, .s3p-8, .s3p-9, .s3p-10, .s3p-11, .s3p-12{
	text-align: center;
	margin-left:175px;
	margin-right:175px;
	margin-top:50px;
	text-align: justify;
}


#sec-3 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #415D43;
}

/*section-4*/

.sec-4-text {
	font-family: 'Cinzel', serif;
	font-size: 50px;
	color: black;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin-top: 30px;
	text-align: center;
}

.s4p h2 {
	font-size: 35px;
	color: #F1F7EE;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin-top: 30px;
}

#sec-4 p {
	color: #F4F0EC;
	font-size: 25px;
	line-height: 28px;	 
	margin-left:50px;
	margin-right:50px;
}

.s4p-1, .s4p-2, .s4p-3, .s4p-4, .s4p-5, .s4p-6, .s4p-7, .s4p-8, .s4p-9, .s4p-10, .s4p-11, .s4p-12{
	text-align: left;
	margin-left:175px;
	margin-right:175px;
	margin-top:50px;
	text-align: justify;
}

#sec-4 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #709775;
}


/*section 5*/

.sec-5-text {
	font-family: 'Cinzel', serif;
	font-size: 50px;
	color: black;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	padding-top: 50px;
	text-align: center;
}

.body-5{
	background-color: #8FB996;
}


.sect-5-ins{
	position:relative;
	width: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	margin-top: 5%;
}

.s5-exp {
	text-align: left;
	margin-left:175px;
	margin-right:175px;
	margin-top:50px;
	text-align: justify;
	color: #F1F7EE;
}

.a-img-1 img{
	width:240px;
	height:300px;
	margin-left:20px;
}

.a-img-2 img{
	width:240px;
	height:300px;
	margin-left:20px;
}

.a-img-3 img{
	width:240px;
	height:300px;
	margin-left:20px;
}

.s5-1{
	width:350px;
	position:relative;
	height:600px;
	background:#fecb3e;
	margin:30px 10px;
	padding:20px 15px;
	display:flex;
	flex-direction:column;
	box-shadow:0.5px 10px #e6e6e6;
	transition:0.3s ease-in-out;
	margin-top:10px;
}
	
.sect-5-ins .s5-1 .a-img-1{
	position:relative;
	width:260px;
	height:260px;
	top:-60px;
	left:20px;
	box-shadow: 0px 5px 20px rbga(0,0,0,1.2);
}

.sect-5-ins .s5-1 .a-img-2{
	position:relative;
	width:260px;
	height:260px;
	top:-60px;
	left:20px;
	box-shadow: 0px 5px 20px rbga(0,0,0,1.2);
}

.sect-5-ins .s5-1 .a-img-3{
	position:relative;
	width:260px;
	height:260px;
	top:-60px;
	left:20px;
	box-shadow: 0px 5px 20px rbga(0,0,0,1.2);
}

.sect-5-ins .s5-1 .a-img-1 img{
	max-width:100%;
	border-radius:10px;
}

.sect-5-ins .s5-1 .a-img-2 img{
	max-width:100%;
	border-radius:10px;
}

.sect-5-ins .s5-1 .a-img-3 img{
	max-width:100%;
	border-radius:10px;
}

.a-img-1:hover img{
	transform: scale(1.1);
}

.a-img-2:hover img{
	transform: scale(1.1);
}

.a-img-3:hover img{
	transform: scale(1.1);
}

.choose{
	position:relative;
	width:1200px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	padding:15px;
	padding-bottom: 100px;
}

.col vid{
	width:840px;
	height:560px;
	margin-top:20px;
	max-width:100%;
	border-radius:10px;
}

.course{
	width:850px;
	position:relative;
	height:590px;
	background:#c2549d;
	padding:70px 15px;
	display:flex;
	flex-direction:column;
	box-shadow:0px 7px #e6e6e6;
	transition:0.3s ease-in-out;
	margin-top:100px;
	padding-left: 85px;
}

.choose .course .col{
	position:relative;
	top:0px;
	left:20px;
	box-shadow: 0px 5px 20px rbga(0,0,0,1.2);
}

.choose .course .col p h2{
	text-align:justify;
	width:800px;
}

.col p {
	margin-left:0px;
	margin-right:105px;
	margin-top:10px;
	text-align: justify;
}

/*website rating*/

#rate{
	padding: 75px 30px 75px 30px;
}

.web-rating{
	background-color: #DFE5DC;
}

.rating-container{
	width: 400px;
	background: #111;
	padding: 10px 10px;
	border: 5px solid #D4AF37;
	border-radius: 5px;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin: 0 auto;
}

.rating-container .post{
	display: none;
}

.rating-container .text{
	font-size:20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #666;
	font-weight: 500;	
}

.rating-container .edit{
	font-size:15px;
	color: #666;
	font-weight: 500;	
	position: absolute;
	right:10px;
	top: 10px;
	cursor: pointer;
}

.rating-container .star-rating input{
	display: none;
}

.star-rating label{
	font-size: 35px;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	color: #444;
	float: right; 
	transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
	color: #fd4;
}

input:checked ~ label{
	color: #fd4;
}

input#rate-5:checked ~ label{
	color: #fe7;
	text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ form p:before{
	content: "I absolutely hate it 😠!";
}

#rate-2:checked ~ form p:before{
	content: "I just don't like it 😒";
}

#rate-3:checked ~ form p:before{
	content: "It's okay 🙂";
}

#rate-4:checked ~ form p:before{
	content: "I like it 😊!";
}

#rate-5:checked ~ form p:before{
	content: "I absolutely love it 😍!";
}

.rating-container form{
	display: none;
}

input:checked ~ form{
	display: block;
}

form p{
	width: 100%;
	font-size: 14px;
	color: #fe7;
	font-weight: 500;
	text-align: center;
	transition: all 0.2s ease;
	padding-bottom: 15px;
}

form .textarea{
	height: 100px;
	width: 100%;
	overflow: hidden;
}

form .textarea textarea{
	height: 100%;
	width: 100%;
	outline: none;
	color: #eee;
	border: 1px solid #333;
	background: #222;
	padding: 10px; 
	font-size: 17px;
	resize: none;
}

form .btn{
	height: 45px;
	width: 100%;
	margin: 15px 0;
}

form .btn button{
	height: 100%;
	width: 100%;
	border: 1px solid #444;
	outline: none;
	background: #222;
	color: #999;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease;
}

form .btn button:hover{
	background: #1b1b1b;
}


/*footer*/

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: fit;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.web-footer-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.web-footer-top h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.web-footer-top p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer-socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.footer-socials li{
    margin: 0 10px;
}
.footer-socials a{
    text-decoration: none;
    color: #fff;
}
.footer-socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.footer-socials a:hover i{
    color: aqua;
}

.web-footer-bottom{
    background: #000;
    width: fit;
    padding: 20px 0;
    text-align: center;
}
.web-footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
	text-align: center;
}
